$tablet-width: 768px;
$desktop-width: 1024px;
$font: 'Raleway', sans-serif;
$main-color: rgb(0, 191, 255);

@mixin project-overlay-hover {
  &:hover {
    cursor: pointer;
    .overlay {
      opacity: 1;
    }
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}

html, body, ul, ol {
  margin: 0;
  padding: 0;
  font-family: $font;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.navbar {
  border: none;
}

#nav-identity li a {
  padding: 5px;
  padding-top: 7px;
}

.transparent {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 540px) {
  #identity-name {
    display: none;
  }
}

@media screen and (max-width: $tablet-width) {
  #nav-identity {
    margin: auto 10%;
  }
  .navbar-collapse.collapse {
    display: block;
  }

  .navbar-nav > li, .navbar-nav {
    float: left;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }

  .navbar-right {
    float: right;
  }
}

#navigation {
  #nav-links li {
    font-size: 16px;
  }
  #nav-links li:last-child {
    font-size: 20px;
    font-weight: 800;
  }
  #nav-links a {
    font-weight: 600;
    color: white;
    transition: all 0.2s ease-in-out 0s;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    }
    &:hover {
      color: white;
    }
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  #nav-identity {
    float: right;
    a {
      font-size: 18px;
      color: white;
    }
  }
}

header {
  background: linear-gradient(rgba(0, 191, 255, .9), rgba(0, 191, 255, .2)), url(img/Optimized-codeBG.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
  top: 0;
  width: 100%;
  margin-bottom: 75px;
  div.container {
    margin-top: 35vh;
  }
  h1 {
    letter-spacing: 4px;
    color: #ffffff;
    font-weight: 900;
    font-size: 5em;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include tablet {
      top: 35%;
    }
    @include desktop {
      top: 35%;
    }
  }
  p {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  span {
    color: #ffffff;
    font-size: 4em;
  }
}

.projects {
  div {
    padding: 0;
    height: 45vh;
  }
  a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 3em;
    font-family: $font;
  }
}

.overlay {
  $time: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: rgba(0, 191, 255, .8);
  height: 100%;
  width: 100%;
  -webkit-transition: opacity $time;
  -moz-transition: opacity $time;
  -ms-transition: opacity $time;
  -o-transition: opacity $time;
  transition: opacity $time;
}

#cms {
  background: url(img/cms.svg) center center no-repeat;
  background-size: cover;
  @include project-overlay-hover;
}

#pw {
  background: url(img/pw.svg) center center no-repeat;
  background-size: cover;
  @include project-overlay-hover;
}

#jsgame {
  background: url(img/jsgame.svg) center center no-repeat;
  background-size: cover;
  @include project-overlay-hover;
}

#capp {
  background: url(img/capap.svg) center center no-repeat;
  background-size: cover;
  @include project-overlay-hover;
}

.modal-content {
  border-radius: 0;
}

.modal-dialog {
  width: 90vw;
  @include tablet {
    width: 90vw;
  }
  @include desktop {
    width: 70vw;
  }
}

.modal-backdrop.in {
  opacity: .9;
}

.modal-header {
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $main-color;
  }
  span {
    margin: 0 5px;
  }
}

.center-images-row {
  display: flex;
  justify-content: space-around;
  padding: 0;
  .img-responsive{
    max-height: 250px;
  }
}

.modal-body {
  p {
    font-family: Arial;
    font-size: 16px;
    margin: 25px auto;
  }
  a {
    font-size: 18px;
  }
  img {
    border: 1px solid black;
    padding: 0;
  }
}

#webshopModal {
  .modal-header, .modal-footer {
    color: white;
    background: #2ecc71;
  }
}

#portfolioModal {
  .modal-header, .modal-footer {
    color: white;
    background: #34495e;
  }
}

#gameModal {
  .modal-header, .modal-footer {
    color: white;
    background: #f39c12;
  }
  .modal-body {
    img:nth-child(0) {
      max-width: 500px;
      float: left;
    }
    img:nth-child(1) {
      max-width: 500px;
      float: right;
    }
  }
}

#webappModal {
  .modal-header, .modal-footer {
    color: white;
    background: #9b59b6;
  }
}

.navbar-inverse {
  background-color: $main-color;
}

#resume-display {
  z-index: 1;
  margin-top: 75px;
}

#download-resume-link {
  z-index: 99;
  $time1: 0.7s;
  $ident: all;
  position: fixed;
  top: 150px;
  right: -140px;
  -webkit-transition: $ident $time1;
  -moz-transition: $ident $time1;
  -ms-transition: $ident $time1;
  -o-transition: $ident $time1;
  transition: $ident $time1;
  &:hover {
    right: -5px;
  }
  span {
    font-size: 18px;
  }
}

.btn-info {
  background-color: $main-color;
}

#download-resume-icon {
  margin-right: 10px;
}

//contact form
.red {
  color: red;
}

.form-area {
  padding: 15px 60px;
}

.alert{
  padding: 10px;
}

#contact-container {
  margin-top: 75px;
  h3 {
    margin: 5px 0 35px 0;
    text-align: center;
  }
}